---
import hero_billede from "../assets/images/hero_billede.png";
import hero_hvidtekst from "../assets/images/Artboard 50.png";
import { Image } from "astro:assets";
---

<div class="bg-black flex justify-center py-10">
  <!-- <Image src={hero_billede} alt="tekst" class="w-[200px]" /> -->
  <Image src={hero_hvidtekst} alt="tekst" class="w-[200px]" />
</div>
