---
import Button from "./Button.astro";
---

<div class="bg-black px-10 py-8 flex justify-end gap-5">
  <a href="#om" target="_self" class="border-2 border-white text-white px-2 py-2 text-[18px] hover:bg-white hover:text-black">Om Hijack</a>
  <a href="#proces" target="_self" class="border-2 border-white text-white px-2 py-2 text-[18px] hover:bg-white hover:text-black">Proces</a>
</div>
